<settings>

    <setting propertyKey="@Properties.AppVersion" title="@Strings.AppVersionTitle">
        <settingConfig type="alphaNumeric" readonly="true" />
    </setting>
    
    <setting propertyKey="@Properties.Theme" title="@Strings.ThemeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ThemeBlueDark</listEntry>
            <listEntry value="1">@Strings.ThemeGreenDark</listEntry>
            <listEntry value="2">@Strings.ThemeRedDark</listEntry>
            <listEntry value="3">@Strings.ThemeOrange</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.BatteryLevelLow" title="@Strings.BatteryLevelLow">
        <settingConfig type="numeric" min="10" max="90" required="true" />
    </setting>
    
    <setting propertyKey="@Properties.ShowBatteryPercent" title="@Strings.ShowBatteryPercent">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowMonthDate" title="@Strings.ShowMonthDate">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowDayDate" title="@Strings.ShowDayDate">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowHeartRate" title="@Strings.ShowHeartRate">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.UpdatePartialHeartRate" title="@Strings.UpdatePartialHeartRate">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.FTWMode" title="@Strings.FTWMode">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.FTWModeMorningHour" title="@Strings.FTWModeMorningHour">
        <settingConfig type="numeric" min="0" max="23" required="true" />
    </setting>
    
    <setting propertyKey="@Properties.FTWModeAfternoonHour" title="@Strings.FTWModeAfternoonHour">
        <settingConfig type="numeric" min="0" max="23" required="true" />
    </setting>
    
    <setting propertyKey="@Properties.FTWModeMinutes" title="@Strings.FTWModeMinutes">
        <settingConfig type="numeric" min="0" max="59" required="true" />
    </setting>
    
    <setting propertyKey="@Properties.FTWModeDuration" title="@Strings.FTWModeDuration">
        <settingConfig type="numeric" min="5" max="45" required="true" />
    </setting>
</settings>